<style>
    form 
    {
        border: 5px solid #f1f1f1;
    }

    h5
    {
        color: red;
    }

    input[type=text], input[type=password], 
    input[type=number], input[type=email], input[type=file], #campus, #gender,
    #education, #interest, #aboutme, #eventdescription,#aboutcompany, #fees,
    #comment
    {
        width: 40%;
        padding: 10px 15px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    select:required:invalid 
    {
        color: gray;
    }

    option[value=""][disabled] 
    {
        display: none;
    }

    option 
    {
        color: black;
    }

    .imgcontainer 
    {
        text-align: center;
        margin: 24px 0 12px 0;
    }

    img.image 
    {
        width: 20%;
        border-radius: 30%;
    }

    .img-thumbnail:hover
    {
        opacity: 0.7;
    }

    .container 
    {
        padding: 50px;
        text-align: center;
    }

    #viewevent:link, #viewevent:visited, #viewevent:active, #thumbnail:link,
    #thumbnail:visited
    {
        color: black;
    }

    #viewevent:hover
    {
        color: red;
    }

    .login-btn:hover
    {
        color: white !important;
        background-color: red !important;
        border-color: transparent;
    }

    .close:hover
    {
        color: red;
    }

    /* unvisited link */
    #signup:link, #signin:link, #totalRegisterDetails:link
    {
        color: red;
    }

    /* visited link */
    #signup:visited, #signin:visited, #totalRegisterDetails:visited
    {
        color: red;
    }

    /* mouse over link */
    #signup:hover, #signin:hover, #thumbnail:hover, #totalRegisterDetails:hover
    {
        color: red !important;
    }

    /* selected link */
    #signup:active, #signin:active, #thumbnail:active, #totalRegisterDetails:active
    {
        color: red;
    }

    .page-header 
    {
        border-bottom: 3px solid red !important;
    }

    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img 
    {
        width: 65%;
        height: 65%;
        margin: auto;
    }

    .carousel-control.left, .carousel-control.right 
    {
        background-image: none;
    }

    .glyphicon-chevron-left, .glyphicon-chevron-right
    {
        color: red;
    }
</style>